
<h1>Conversations</h1>

<table>
    <thead>
        <tr>
            <th>Peope</th>
            <th colspan="1"></th>
        </tr>
    </thead>

    <tbody>
        <% @conversations.each do |conversation| %>
        <tr>
            <td>
                <%= link_to conversation do %>
                    <%= conversation.display_users(current_user) %>
                <% end %>
            </td>
            <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>
