<p id="notice"><%= notice %></p>
<p>hi</p>
<% @conversation.messages.each do |message| %>
  <b><%= message.user.username %></b>
  <p><%= message.local(current_user.lang).content %></p>
<% end %>
<%= link_to 'Back', conversations_path %>
